<footer >
    <div class="f-info">
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>

        <div> &#169 Roombuddy Pvt</div>
        
        <div class="f-info-socials">
            <a href="https://github.com/Pruthavik01"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.linkedin.com/in/pruthavik-gavali/"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://www.instagram.com/_e_te_r_na_l_/"><i class="fa-brands fa-instagram"></i></a>

        </div>
    </div>
</footer>